In [134]:
import pandas as pd
import numpy as np
import math
import glob
import os

In [135]:
wd = os.getcwd()
files = glob.glob(wd + '/*.xlsx')
for f in files:
    if "US Open" in f:
        files.remove(f)

In [136]:
def probability(elo_1, elo_2):
    
    return 1/(1 + math.pow(10, (elo_1 - elo_2)/400))

In [137]:
def elo_rating(rating_player, rating_opponent, K):
    
    prob_a = probability(rating_opponent, rating_player)
    prob_b = probability(rating_player, rating_opponent)
    
    rating_player = rating_player + K * (1 - prob_a)
    rating_opponent = rating_opponent + K * (0 - prob_b)
    
    return rating_player, rating_opponent

In [141]:
def apply_elo(df):

    for i in range(df.shape[0]):
        elo_winner, elo_loser = elo_rating(df.at[i, 'winner_elo'], df.at[i, 'loser_elo'], 32)

        df.at[i, 'winner_elo'] = np.around(elo_winner)
        df.at[i, 'loser_elo'] = np.around(elo_loser)

        winner_name = df.winner_name[i]
        loser_name = df.loser_name[i]

        sub_ww = df.iloc[i:, :][df.iloc[i:, :]['winner_name']==winner_name].winner_elo
        sub_ll = df.iloc[i:, :][df.iloc[i:, :]['loser_name']==loser_name].loser_elo
        sub_lw = df.iloc[i:, :][df.iloc[i:, :]['loser_name']==winner_name].loser_elo
        sub_wl = df.iloc[i:, :][df.iloc[i:, :]['winner_name']==loser_name].winner_elo
        
        sub_ww.replace(to_replace=sub_ww.values.tolist(), value=np.around(elo_winner), inplace=True)
        sub_ll.replace(to_replace=sub_ll.values.tolist(), value=np.around(elo_loser), inplace=True)
        sub_lw.replace(to_replace=sub_lw.values.tolist(), value=np.around(elo_winner), inplace=True)
        sub_wl.replace(to_replace=sub_wl.values.tolist(), value=np.around(elo_loser), inplace=True)
        
        df.update(sub_ww)
        df.update(sub_ll)
        df.update(sub_lw)
        df.update(sub_wl)
        
    return df

In [ ]:
def season_final_elo(df):

In [139]:
df0 = pd.read_excel(files[0])
df0.tourney_date = pd.to_datetime(df0.tourney_date, yearfirst=True, format='%Y%m%d')
df0 = df0.sort_values(by='tourney_date').reset_index(drop=True)

data = np.ones((len(df0), 1))*1500
df0['winner_elo'] = data
df0['loser_elo'] = data

df0 = apply_elo(df0)

In [140]:
df0[['winner_name', 'loser_name', 'winner_elo', 'loser_elo']].head(51)

            winner_name                loser_name  winner_elo  loser_elo
0      Marcos Baghdatis                Mardy Fish      1516.0     1484.0
1        Radek Stepanek              Gael Monfils      1516.0     1484.0
2        Radek Stepanek              John Millman      1531.0     1485.0
3        Radek Stepanek       Alexandr Dolgopolov      1546.0     1485.0
4         Florent Serra            Julian Reister      1516.0     1484.0
5          Andy Roddick            Radek Stepanek      1518.0     1528.0
6          Andy Roddick              Peter Luczak      1533.0     1485.0
7          Andy Roddick           Richard Gasquet      1547.0     1486.0
8          Andy Roddick             Tomas Berdych      1561.0     1486.0
9          Andy Roddick              Carsten Ball      1574.0     1487.0
10        Wayne Odesnik           Alejandro Falla      1516.0     1484.0
11        Wayne Odesnik            Arnaud Clement      1531.0     1485.0
12         Gael Monfils             Florent Serra      1501.0     1499.0
13         Gael Monfils               Taylor Dent      1517.0     1484.0
14       Radek Stepanek             Wayne Odesnik      1544.0     1515.0
15         Gael Monfils               James Blake      1532.0     1485.0
16         Marc Gicquel        Philipp Petzschner      1516.0     1484.0
17      Richard Gasquet           Jarkko Nieminen      1503.0     1483.0
18      Richard Gasquet             Matthew Ebden      1519.0     1484.0
19      Alejandro Falla             Jeremy Chardy      1501.0     1483.0
20        Matthew Ebden             Jurgen Melzer      1501.0     1483.0
21  Alexandr Dolgopolov             Bernard Tomic      1502.0     1483.0
22          James Blake               Sam Querrey      1502.0     1483.0
23          James Blake              Marc Gicquel      1519.0     1499.0
24        Tomas Berdych              Nick Lindahl      1503.0     1483.0
25        Tomas Berdych           Thomaz Bellucci      1519.0     1484.0
26        Tomas Berdych          Marcos Baghdatis      1535.0     1500.0
27      Thomaz Bellucci                Harel Levy      1501.0     1483.0
28      Thomaz Bellucci        Juan Ignacio Chela      1517.0     1484.0
29           Harel Levy            Michael Llodra      1500.0     1483.0
30         Carsten Ball             Mischa Zverev      1504.0     1483.0
31         Ivo Karlovic             Fabio Fognini      1516.0     1484.0
32       Viktor Troicki            Olivier Rochus      1516.0     1484.0
33        Roger Federer            Ernests Gulbis      1516.0     1484.0
34    Nikolay Davydenko              Rafael Nadal      1516.0     1484.0
35    Nikolay Davydenko         Mikhail Kukushkin      1531.0     1485.0
36    Nikolay Davydenko              Ivo Karlovic      1546.0     1501.0
37    Nikolay Davydenko             Roger Federer      1561.0     1501.0
38    Nikolay Davydenko         Marco Chiudinelli      1574.0     1487.0
39         Steve Darcis    Guillermo Garcia-Lopez      1516.0     1484.0
40         Steve Darcis         Younes El Aynaoui      1531.0     1485.0
41    Marco Chiudinelli             Paolo Lorenzi      1504.0     1483.0
42      Benjamin Becker          Daniel Koellerer      1516.0     1484.0
43    Younes El Aynaoui            Ryler De Heart      1502.0     1483.0
44       Ernests Gulbis           Albert Montanes      1501.0     1483.0
45       Ernests Gulbis             Andreas Seppi      1517.0     1484.0
46         Ivo Karlovic           Benjamin Becker      1518.0     1499.0
47       Evgeny Korolev  Martin Vassallo-Arguello      1516.0     1484.0
48         Lukasz Kubot             Karim Maamoun      1516.0     1484.0
49         Lukasz Kubot         Sergiy Stakhovsky      1531.0     1485.0
50         Rafael Nadal            Simone Bolelli      1501.0     1483.0

In [144]:
ss = df0[((df0['winner_name']=='Marcos Baghdatis') | (df0['loser_name']=='Marcos Baghdatis'))][['winner_name', 'loser_name', 'winner_elo', 'loser_elo']]
ss.iloc[-1,:]

winner_name      Michael Berrer
loser_name     Marcos Baghdatis
winner_elo               1447.0
loser_elo                1593.0
Name: 2483, dtype: object

In [151]:
list1 = df0.winner_name.unique()
list2 = df0.loser_name.unique()

#new_df = pd.DataFrame()

dd = np.concatenate((list1, list2))
np.unique(dd).shape

(323,)

In [39]:
df1 = pd.read_excel(files[0])
df2 = pd.read_excel(files[1])

df1_cols = df1.columns
df2_cols = df2.columns

In [42]:
len(df2_cols)

78

In [38]:
df1.equals(df2)

False

In [46]:
init_elo = 1500

for i in files:

    df = pd.read_excel(i)
    df.tourney_date = pd.to_datetime(df.tourney_date, yearfirst=True, format='%Y%m%d')
    df = df.sort_values(by='tourney_date').reset_index(drop=True)
    
    data = np.ones((len(df), 1))*init_elo
    df['winner_elo'] = data
    df['loser_elo'] = data

C:\Users\PC\Desktop\Hasl\Rahber Tariani\2010_mens.xlsx
C:\Users\PC\Desktop\Hasl\Rahber Tariani\2011_mens.xlsx
C:\Users\PC\Desktop\Hasl\Rahber Tariani\2012_mens.xlsx
C:\Users\PC\Desktop\Hasl\Rahber Tariani\2013_mens.xlsx
C:\Users\PC\Desktop\Hasl\Rahber Tariani\2014_mens.xlsx
C:\Users\PC\Desktop\Hasl\Rahber Tariani\2015_mens.xlsx
C:\Users\PC\Desktop\Hasl\Rahber Tariani\2016_mens.xlsx
C:\Users\PC\Desktop\Hasl\Rahber Tariani\2017_mens.xlsx
C:\Users\PC\Desktop\Hasl\Rahber Tariani\2018_mens.xlsx
C:\Users\PC\Desktop\Hasl\Rahber Tariani\2019_mens.xlsx
C:\Users\PC\Desktop\Hasl\Rahber Tariani\2020_mens.xlsx
C:\Users\PC\Desktop\Hasl\Rahber Tariani\2021_mens.xlsx

In [313]:
df.tourney_date = pd.to_datetime(df.tourney_date, yearfirst=True, format='%Y%m%d')
df = df.sort_values(by='tourney_date').reset_index(drop=True)

In [314]:
df.shape

(2679, 78)

In [315]:
df

,tourney_id,tourney_name,series,court,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,...,LBW,LBL,PSW,PSL,SJW,SJL,MaxW,MaxL,AvgW,AvgL
0,2010-339,Brisbane International,ATP250,Outdoor,Hard,32,A,2010-01-03,6,104571,...,1.40,2.75,1.377,3.410,1.400,2.750,NaN,NaN,NaN,NaN
1,2010-339,Brisbane International,ATP250,Outdoor,Hard,32,A,2010-01-03,30,103285,...,2.10,1.67,2.350,1.685,2.000,1.727,NaN,NaN,NaN,NaN
2,2010-339,Brisbane International,ATP250,Outdoor,Hard,32,A,2010-01-03,16,103285,...,1.04,9.00,1.087,9.950,1.030,10.000,NaN,NaN,NaN,NaN
3,2010-339,Brisbane International,ATP250,Outdoor,Hard,32,A,2010-01-03,24,103285,...,1.12,5.50,1.159,6.390,1.125,5.500,NaN,NaN,NaN,NaN
4,2010-339,Brisbane International,ATP250,Outdoor,Hard,32,A,2010-01-03,11,103722,...,1.44,2.62,1.483,2.900,1.440,2.630,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2674,2010-605,ATP World Tour Finals,Masters Cup,Indoor,Hard,8,F,2010-11-21,1,103819,...,1.13,5.50,1.140,7.100,1.130,6.000,1.14,8.20,1.11,6.39
2675,2010-605,ATP World Tour Finals,Masters Cup,Indoor,Hard,8,F,2010-11-21,4,103819,...,1.44,2.63,1.420,3.180,1.360,3.000,1.50,3.24,1.40,2.92
2676,2010-605,ATP World Tour Finals,Masters Cup,Indoor,Hard,8,F,2010-11-21,14,104925,...,1.36,3.00,1.480,2.920,1.440,2.750,1.48,3.15,1.40,2.88
2677,2010-605,ATP World Tour Finals,Masters Cup,Indoor,Hard,8,F,2010-11-21,13,104925,...,1.25,3.75,1.250,4.600,1.250,3.750,1.30,4.76,1.24,4.03
2678,2010-605,ATP World Tour Finals,Masters Cup,Indoor,Hard,8,F,2010-11-21,11,104745,...,1.83,1.83,2.090,1.850,1.900,1.900,2.11,2.00,1.92,1.84